apiVersion : apps/v1
kind: Deployment
metadata:
  name: nodesample 
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: nodesample 
    spec:
      containers:
        - name: nodesample 
          image: desattir.azurecr.io/nodesample
          ports:
          - containerPort: 80
